<div class="wrapper">
  <div class="sidebar" data-color="red">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="panel-header panel-header-sm">
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5 class="title">Azure Practices</h5>
            </div>
            <div class="row">
              <div class="card-body">
                <div class="col-md-2">
                  <a class="btn btn-primary btn-block" routerLink="/azure/blob">Blob Demo</a>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-primary btn-block" routerLink="/azure/blob">Queues Demo</a>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-primary btn-block" routerLink="/azure/blob">Files Demo</a>
                </div>
                <div class="col-md-2">
                  <a class="btn btn-primary btn-block" routerLink="/azure/blob">Table Demo</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>