<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Contact</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="contactForm">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Company Name</label>
                  <input type="text" class="form-control" placeholder="Company" formControlName="compnay">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Contact Type</label>
                  <select class="form-control" formControlName="contactType">
                    <option value="">Select</option>
                    <option value="1">Agent</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" placeholder="Office Address" formControlName="address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
                </div>
              </div>
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Profile Pic</label>
                  <input type="file" class="form-control" (change)="changeFile($event.target.files)" formControlName="profile">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Review or Comments</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Here can be your description"
                    formControlName="description"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <button (click)="save();" class="btn btn-primary">Save</button>
                  <a routerLink="/contact" class="btn btn-primary">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>