<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Contact List</h5>
        </div>
        <div class="row">
          <div class="card-body">
            <div class="col-md-2">
              <a class="btn btn-primary btn-block" routerLink="/contact/contact-add">Add New</a>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Profle Pic
                  </th>
                  <th>
                    Name
                  </th>
                  <th class="text-right">
                    Mobile
                  </th>
                  <th>
                    Company
                  </th>
                  <th>
                    Contact Type
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of contacts">
                    <td>
                      <img src="https://sapractice.blob.core.windows.net/sacpractice/{{contact.profilePicName}}" width="50px"
                        height="50px" />
                    </td>
                    <td>
                      {{contact.name}}
                    </td>
                    <td class="
                        text-right">
                      {{contact.mobile}}
                    </td>
                    <td>
                      <!-- {{contact.compnay}} -->
                    </td>
                    <td>
                      {{contact.contactType == 1 ? 'Agent': 'Not defined'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>