<div class="panel-header">
  <div class="header text-center">
    <h1 class="title">Login To Investment Tracker</h1>
    <p class="category">
      <button class="btn btn-primary btn-block" type="button" (click)="login()">Login</button>
      <a [routerLink]="['/azure']" class="btn btn-primary btn-block">Azure</a>
      <!-- <a href="https://scttcper.github.io/ngx-toastr/" target="_blank">full documentation.</a> -->
    </p>
  </div>
</div>

<!-- <div class="panel-header">
  <div class="header text-center">
    <h1 class="title"> Login To Investment Tracker
      <p class="category"><button class="btn btn-primary btn-block" type="button" (click)="login()">Login</button></p>
    </h1>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="row">
                  <div class="col-md-4">
                    <button class="btn btn-primary btn-block" type="button" (click)="login()">Login</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->